
*.ide
*.lock
*.ide-shm
*.ide-wal
*.dll
*.pdb
*.cache
*.props
*.targets
.vs/HealthConnectSignup/v15/.suo
HealthConnect.Accessor/obj/Debug/netcoreapp2.0/HealthConnect.Accessor.csproj.FileListAbsolute.txt
